{% extends "base/estadisticaBase.html" %} {%block title_body%} Estadisticas {% endblock %} {% block content %}
<div id="chart_movimiento_div"></div>
<div id="chart_error_div"></div>
{% endblock %} {% block js %}

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load("current", {
        packages: ["corechart"]
    });
    google.charts.setOnLoadCallback(drawMovimientoChart);
    google.charts.setOnLoadCallback(drawErrorChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawMovimientoChart() {
        $.getJSON("movimiento_partida", function(data) {

            // Create the data table.
            var dataChart = new google.visualization.DataTable();
            dataChart.addColumn('number', 'Partida');
            dataChart.addColumn('number', 'Movimientos');


            dataChart.addRows(data);
            // Set chart options
            var options = {
                legend: 'none',
                hAxis: {
                    minValue: 0,
                    scaleType: 'linear',
                    title: 'Partidas'

                },
                animation: {
                    duration: 2000,
                    easing: 'linear',
                    startup: true
                },
                vAxis: {
                    scaleType: 'linear',
                    title: 'Movimientos'
                },

                pointSize: 10,
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('chart_movimiento_div'));
            chart.draw(dataChart, options);
        });
    }



    function drawErrorChart() {
        $.getJSON("error_partida", function(data) {
            console.log(data)
                // Create the data table.
            var dataChart = new google.visualization.DataTable();
            dataChart.addColumn('number', 'Partida');
            dataChart.addColumn('number', 'Errores');
            dataChart.addRows(data);
            // Set chart options
            var options = {
                legend: 'none',
                hAxis: {
                    minValue: 0,
                    scaleType: 'linear',
                    title: 'Partidas'

                },
                animation: {
                    duration: 2000,
                    easing: 'linear',
                    startup: true
                },
                vAxis: {
                    scaleType: 'linear',
                    title: 'Errores'
                },

                pointSize: 10,
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('chart_error_div'));
            chart.draw(dataChart, options);
        });
    }
</script>

{% endblock %}