{% extends "base/estadisticaBase.html" %} {%block title_body%} Estadisticas {% endblock %} {% block content %}

<table class="columns">
    <tr>
        <td>
            <div id="chart_movimiento_div" style="border: 1px solid #ccc"></div>
        </td>
        <td>
            <div id="chart_error_div" style="border: 1px solid #ccc"></div>
        </td>
    </tr>
</table>

{% endblock %} {% block js %}

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {
        packages: ['corechart']
    });
    google.charts.setOnLoadCallback(drawMovChart);
    google.charts.setOnLoadCallback(drawErrChart);

    function drawMovChart() {
        $.getJSON("movEdad", function(data) {
            var dataChart = new google.visualization.DataTable();
            dataChart.addColumn('string', 'edad');
            dataChart.addColumn('number', 'Movimientos');
            dataChart.addRows(data);

            var view = new google.visualization.DataView(dataChart);
            view.setColumns([0, 1, {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                },

            ]);

            var options = {
                title: "Cantidad de Movimientos Por edad",
                width: 600,
                height: 400,
                bar: {
                    groupWidth: "95%"
                },
                legend: {
                    position: "none"
                },
                animation: {
                    duration: 2000,
                    easing: 'out',
                    startup: true
                },
                vAxis: {
                    scaleType: 'linear',
                    title: 'Movimientos'
                },
                hAxis: {
                    minValue: 0,
                    scaleType: 'linear',
                    title: 'Edad'

                },

            };
            var chart = new google.visualization.ColumnChart(document.getElementById("chart_movimiento_div"));
            chart.draw(view, options);
        });
    }

    function drawErrChart() {
        $.getJSON("errEdad", function(data) {
            var dataChart = new google.visualization.DataTable();
            dataChart.addColumn('string', 'edad');
            dataChart.addColumn('number', 'Errores');
            dataChart.addRows(data);

            var view = new google.visualization.DataView(dataChart);
            view.setColumns([0, 1, {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                },

            ]);

            var options = {
                title: "Cantidad de Errores Por edad",
                width: 600,
                height: 400,
                bar: {
                    groupWidth: "95%"
                },
                legend: {
                    position: "none"
                },
                animation: {
                    duration: 2000,
                    easing: 'out',
                    startup: true
                },
                vAxis: {
                    scaleType: 'linear',
                    title: 'Movimientos'
                },
                hAxis: {
                    minValue: 0,
                    scaleType: 'linear',
                    title: 'Edad'

                },

            };
            var chart = new google.visualization.ColumnChart(document.getElementById("chart_error_div"));
            chart.draw(view, options);
        });
    }
</script>

{% endblock %}