{% extends "base/base.html" %} {% block css %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/StyleOrdenar.css"> {% endblock %} {%block title_body%} Ordenar {% endblock %} {% block content %}
<div id="sortable" class="ui-state-default">

</div>
{% endblock %} {% block js %}

<script src="{{ STATIC_URL }}js/ordenar.js"></script> {% endblock %}