{% extends "base/base.html" %} {%block submenu%}
<span class="mdl-layout-title">Juegos</span>
<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="estadistica">Estadiscas Por Alumno</a>



</nav>
{% endblock %}